/*glabal*/

*
{
  box-sizing: border-box;
}

body
{
margin: 0;
padding: 0;
font-family: cursive;
background-color:  #000044;
}

html
{
  scroll-behavior: smooth;
}

.content
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container
{
 width: 100%;
}
/*end global*/

/*start header*/
.header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 15px;
  border-bottom: 2px solid gold;
}


ul
{
list-style: none;
}

ul li
{
display: inline-block;
font-size: 23px;
margin: 0px 0px 0px 40px;
}

ul li a
{
text-decoration: none;
color: white;
}

ul li a:hover
{
color: gold;
transition: 0.3s ease-in-out;
}

/*end header*/

/*start landing*/
.content1
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.landing-text
{
width: 600px;
padding: 10px;
}

h1
{

margin:0;
font-size: 70px;
font-weight: 900;
color: white;
}

h3
{
margin: 0;
font-size: 50px;
font-weight: 500;
color: gold;
}

.lorem
{
margin-top: 30px;
font-size: 20px;
font-weight: 300;
color: white;
padding-left: 10px;
}

.btn
{
width: 150px;
height: 50px;
color: black;
background-color: white;
font-size: 17px;
font-weight: 600;
border-radius: 5px;
margin: 10px 0 0 10px;
}

.btn:hover
{
 color: white;
background-color: gold;
transition: 0.3s ease-in-out;
cursor: pointer;
}

.img1
{
width: 600px;
height: 500px;
border-radius: 10px;
}

.img1:hover
{
  cursor: pointer;
}

/*end landing*/

/*strat web hosting**/

.content2
{
 flex-direction: column;
 background-color:  white;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 40px 0;
 flex-wrap: wrap;
 width: 100%;
}

.title
{
 font-size: 50px;
 font-weight: 900;
 color: gold;
}

.img-web
{
 margin-bottom: 30px;
 border-radius: 10px;
}

.img-web:hover
{
cursor: pointer;
box-shadow: 0 0 2px 1px #ddd;
}

.second
{
 width: 800px;
 margin: 15px 0;
}

.btn2
{
margin: 20px 0;
width: 150px;
height: 50px;
color: black;
background-color: gold;
font-size: 17px;
border-radius: 5px;
font-weight: 600;
}

.btn2:hover
{
 color: white;
background-color: black;
transition: 0.3s ease-in-out;
cursor: pointer;
}
/*end web hosting***/

/*start service*/
.content3
{
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 40px 0;
 flex-wrap: wrap;
 width: 100%;
}

.service-text
{
 width: 60%;
 text-align: center;
 margin: 15px 0;
}

.title2
{
 color: gold;
 font-size: 50px;
 font-weight: 900;
 margin: 15px 0;
}

.service
{
 width: 100%;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 display: flex;
 flex-direction: row;
 margin: 15px 0;
}


.content-service
{
 width: 350px;
 height: 370px;
 border: 2px solid white;
 border-radius: 30px;
 margin: 30px 2% 30px 2%;
 text-align: center;
}

.content-service:hover
{
 cursor: pointer;
 background-color: #8a2be2;
 transition: 0.3s ease-in-out;
 transform: scale(1.02);
}
.img-service
{
padding: 15px;
background-color: white;
border-radius: 50px;
width: 100px;
height: 100px;
margin-top: 25px;
}

.img-service:hover
{
cursor: pointer;
background-color: lightgray;
}

.title-img
{
 text-align: center;
 font-size: 25px;
 font-weight: 900;
 margin: 15px 0;
 color: gold;
 }

 /*end service*/

 /*start why*/
.content-why
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.for-res
{
  text-align: center;
  width: 60%;
  margin: 0;
}
.why
{
 width: 350px;
 height: 370px;
 border: 2px solid whitesmoke;
 border-radius: 30px;
 margin: 30px 0px 15px ;
 text-align: center;
 box-shadow: 0 0 10px 4px #ddd;
}

.why:hover
{
 cursor: pointer;
 transform: scale(1.02);
 background-color: #ddd;
 transition: 0.3s ease-in-out;
}

.why-img
{
margin: 20px 0;
border-radius: 50%;
}

.why-img:hover
{
  cursor: pointer;
  background-color:  white;
  transition: 0.3s ease-in-out;
}

.whyy
{
color: black;
}

.btn3
{
margin: 10px 0;
width: 150px;
height: 50px;
color: black;
background-color: gold;
font-size: 17px;
font-weight: 600;
border-radius: 5px;
}

.btn3:hover
{
color: white;
background-color: black;
cursor: pointer;
transition: 0.3s ease-in-out;
}
/*end why*/

/*start contact*/

.form
{
width: 35%;
background-color: #000033;
border-radius: 30px;
margin: -350px 0 50px;
text-align: center;
}

input
{
width: 85%;
margin: 50px 0px 0;
height: 60px;
border-radius: 20px;
cursor: pointer;
padding: 0 10px ;
}

.area
{
width: 85%;
margin: 50px 0px;
height: 150px;
border-radius: 10px;
resize: none;
cursor: pointer;
padding: 10px;
}

input:hover , .area:hover
{
  border: 3px solid gold;
}

.btn4
{
width: 120px;
height: 50px;
border-radius: 15px;
margin: 15px 0;
color: red;
font-size: 17px;
cursor: pointer;
font-weight: 600;
}
 .btn4:hover
 {
   border: 3px solid red;
   transition: 0.3s ease-in-out;
 }

.contact
{
font-size: 70px;
color: white;
font-weight: 900;
text-align: center;
margin:  0  ;
}

/*end contact*/
/*start footer*/
.footer
{
width: 100%;
background-color: white;
}

.name
{
font-size: 27px;
font-weight: 900;
text-align: center;
color: black;
margin: 10px;
}

.link
{
text-decoration: none;
color: black ;
}

.link:hover
{
 color : gold ;
 transition: 0.3s ease-in-out;
}

/*end footer*/
/*phone*/
@media
(max-width :767px)
{
  body
  {
   font-family: arial;
    margin: 0;
    padding: 0;
  }
  /*start header*/
  .header
  {
    justify-content: space-between;
    padding: 0 15px;
  }

  .logo-img
  {
    width: 70px;
  }

  ul li
  {
  display: inline-block;
  font-size: 10px;
  margin: 0px 0px 0px 4px;
  }

  /*end header*/
  /*start landing*/
  .landing-text
  {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  }

  h1
  {
  font-size: 50px;
  font-weight: 700;
  }

  h3
  {
  margin-top: 10px;
  font-size: 30px;
  }

  .lorem
  {
  font-size: 15px;
  padding-left: 0;
  }
  .btn
  {
  width: 120px;
  font-size: 14px;
  margin:  10px 0 0;
  }
  .img1
  {
  width: 90%;
  height: 400px;
  }
  /*end landing*/
  /*strat web hosting**/
  .title
  {
   font-size: 20px;
   font-weight: 900;
  }

  .img-web
  {
   width: 90%;
  }

  .second
  {
   width: 90%;
   text-align: center;
  }

  .btn2
  {
  width: 120px;
  font-size: 14px;
  font-weight: 600;
  }
  /*end web hosting***/
  /*start service*/
  .service-text
  {
   width: 90%;
  }
  .title2
  {
   font-size: 40px;
  }
  .content-service
  {
   width: 90%;
   height: 320px;
   padding: 10px;
  }
   /*end service*/
   /*start why*/
  .for-res
  {
    width: 90%;
  }
  .why
  {
   width: 90%;
   height: 320px;
   padding: 10px;
  }

  .why:hover
  {
   cursor: pointer;
   transform: scale(1.02);
   background-color: #ddd;
   transition: 0.3s ease-in-out;
  }

  .why-img
  {
  margin: 20px 0;
  border-radius: 50%;
  }

  .why-img:hover
  {
    cursor: pointer;
    background-color:  white;
    transition: 0.3s ease-in-out;
  }

  .whyy
  {
  color: black;
  }

  .btn3
  {
  width: 120px;
  font-size: 14px;
  }
  .btn3:hover
  {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  }
  /*end why*/
  /*start contact*/
  .form
  {
  width: 75%;
  margin: -250px 0 50px;
  }
  .contact
  {
  font-size: 40px;
  }

  .nn
  {
    text-align: center;
    padding:10px;
  }
  /*end contact*/
  /*start footer*/
  .name
  {
  font-size: 15px;
  }

  /*end footer*/
}
/*tablet*/
@media (min-width : 768px)
{
  .content
  {
    justify-content: space-between;
  }
  /*start header*/
  ul li
  {
  font-size: 20px;
  }
  /*end header*/
  /*start landing*/
  .content1
  {
    padding: 10px;
  }

  .landing-text
  {
  width: 50%;
  }

  h1
  {
  font-size: 55px;
  font-weight: 900;
  }

  h3
  {
  margin-top: 10px;
  font-size: 35px;
  }
  .lorem
  {
  padding-left: 0px;
  }
  .btn
  {
  margin: 10px 0  0;
  }
  .img1
  {
  width: 50%;
  }
  /*end landing*/
  /*strat web hosting**/
  .img-web
  {
   width: 90%;
  }
  .second
  {
   width: 90%;
   text-align: center;
  }
  /*end web hosting***/
  /*start service*/
  .service-text
  {
   width: 90%;
  }
   /*end service*/
   /*start why*/
  .for-res
  {
    width: 90%;
  }
  .why
  {
   padding: 10px;
  }
  /*end why*/
  /*start contact*/
  .form
  {
  width: 80%;
  margin: -250px 0 50px;
  }
  /*end contact*/
  /*start footer*/
  .name
  {
  font-size: 25px;
  }
/*end footer*/
}
@media (min-width : 992px)
{

}
@media (min-width : 1200px)
{
  /*start header*/

  ul li
  {
  font-size: 23px;
  }
  /*end header*/

  /*start landing*/
  .landing-text
  {
  width: 600px;
  }

  h1
  {
  font-size: 70px;
  font-weight: 900;
  }

  h3
  {
  font-size: 50px;
  font-weight: 500;
  }

  .lorem
  {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding-left: 10px;
  }

  .img1
  {
  width: 600px;
  height: 500px;
  border-radius: 10px;
  }
  /*end landing*/
  /*strat web hosting**/

  .img-web
  {
   width: 50%;
  }
  .second
  {
   width: 800px;
  }

  /*end web hosting***/

  /*start service*/
  .service-text
  {
   width: 60%;
  }
   /*end service*/
   /*start why*/
  .for-res
  {
    width: 60%;
  }

  .whyy
  {
  color: black;
  }
  /*end why*/
  /*start contact*/
  .form
  {
  width: 35%;
  }

  /*end contact*/
  /*start footer*/
  .name
  {
  font-size: 27px;
  }

  /*end footer*/
}
